<div class="background">
  <div class="gradient">
    <div class="container">
      <h1>{{title}}</h1>
      <div class="actions" [ngClass]="animateOnRouteEnter">

        <div class="container tile-grid" >
          <div class="row justify-content-md-center">
            <div *ngFor="let item of Products;"   (setSelection)="setSelection(item)" [class]="showBrands">
              <div class="col" (click)="select()">
                <img src= {{item.url}} />
                <a target="_blank" rel="noopener" class="thumb-label" >
                  {{item.name}}
                </a>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
