@import '../../../styles-variables';

h1 {
  text-align: center;
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

.background {
  padding: 80px 0 0 0;
  position: relative;

  .actions {
    text-align: center;
    z-index: 1;

    span {
      display: inline-block;
      font-weight: bold;
      padding: 20px 10px 30px 10px;
    }

    a {
      margin: 0 5px 10px 0;

      &.actions-main {
        padding: 3px 24px;
      }

      i {
        position: relative;
        top: -1px;
      }
    }
  }

  .get-started {
    max-width: 700px;
    margin: 50px auto;
    letter-spacing: 0.01px;
    overflow-wrap: break-word;
    z-index: 1;
    overflow: hidden;

    code {
      font-size: 0.9em;
      display: inline-block;
      word-wrap: break-word;
      white-space: normal;
      margin: 0 0 10px 0;
    }
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('../../../assets/intro.jpg') no-repeat center top;
    background-size: cover;
    opacity: 0.7;
    content: '';
    z-index: 0;
  }

  .gradient {
    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      bottom: 0;
      right: 0;
      content: '';
      z-index: 0;
    }
  }

  .container {
    position: relative;
  }
}

.follow-releases {
  max-width: 700px;
  margin: 0 auto 80px auto;

  p {
    line-height: 40px;

    a {
      border-bottom: 3px solid;
    }
  }

  img {
    display: block;
    max-width: 80%;
    margin: 20px auto 0 auto;
    border-radius: 5px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .background {
    .actions {
      margin: 50px 0;
    }
    .get-started {
      width: auto;
    }
  }
  .follow-releases {
    width: auto;

    img {
      max-width: 100%;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .background {
    padding: 40px 0 0 0;

    h1 {
      line-height: 1em;
    }

    .actions {
      margin: 40px 0 0 0;

      span {
        padding: 10px 0 20px 0;
      }

      a {
        width: 100%;
      }
    }

    .get-started {
      width: auto;
      margin: 40px auto 40px auto;
    }
  }

  .follow-releases {
    margin: 0 auto 40px auto;
  }
}


body, html{
  background-color: #ededed !important;
  font-family: "Gotham,Helvetica,Roboto,Arial,sans-serif" !important;
  max-width: 1024px;
}

.heading {
  margin-bottom: 50px;
}

ul{
  padding-left: 0px;
}

ul li, tile li {
  list-style: none;
}

.tile-grid {
  display: block;
  margin: 25px auto;
}

.tile-grid img{
  max-width: 170px;
  background: white;
  &:hover{
    background: #ededed;
    border-color: rgb(120, 144, 156);
  }
}

.tile-grid img{
  border: 2px solid #888888;
  border-radius: 5px;
}

.thumb-label {
  text-decoration: none;
  color: black;
  text-align: center !important;
  display: block;
  width:100%;
  padding-top: 10px;
}

.logo {
  max-width: 60%  ;
  width: 300px;
}

.product-type {
  position: absolute;
  top: 200px;
  left:20px;
}

h2{
  text-align: center
}

.products {
  margin-top:50px;
}
.background {
    &::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('../../../assets/intro.jpg') no-repeat center top;
    background-size: cover;
    opacity: 0.7;
    content: '';
    z-index: 0;
  }
}




